/* --------------------------------- */
/*  BASIC SETUP   */
/* --------------------------------- */

:root {
    --primary-color: #e67e22;
    --secondary-color: #bd6111;
    --background-color: #ebebeb;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    scroll-behavior: smooth;
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section {
    padding: 6%;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* --------------------------------- */
/*  REUSABLE COMPONENTS   */
/* --------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.icon-big {
    font-size: 350%;
    color: var(--primary-color);
    
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/* --------------------------------- */
/*  MEALS   */
/* --------------------------------- */
.section-meals {
    width: 100%;
    padding: 0;
}

.meals-showcase {
    list-style: none;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.meal-photo img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
}



/* --------------------------------- */
/*  HOW IT WORKS   */
/* --------------------------------- */
.section-steps {
    background-color: var(--background-color);
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    height: 40px;
    margin-bottom: 80px;
}

.works-step div {
    display: inline-block;
    float: left;
}

.steps-box a img {
    height: 40px;
    margin-right: 3%;
}

.app-screen {
    width: 40%;
    height: auto;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-top: 3%;
    padding-left: 3%;
    text-align: left;
}

.step-number {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}





/* --------------------------------- */
/*  CITIES   */
/* --------------------------------- */
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.box p {
    text-align: justify;
}

.city-features {
    margin-bottom: 7px;
    font-size: 100%;
}

.city-features a:link,
.city-features a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

.city-features a:hover,
.city-features a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* --------------------------------- */
/*  TESTIMONIALS   */
/* --------------------------------- */
.section-testimonials {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000d0), to(#000000d0)), url(/resources/css/images/back-customers.jpg);
    background-image: -o-linear-gradient(#000000d0, #000000d0), url(/resources/css/images/back-customers.jpg);
    background-image: linear-gradient(#000000d0, #000000d0), url(/resources/css/images/back-customers.jpg);
    background-attachment: fixed;
}

blockquote {
    padding: 3%;
    margin-top: 40px;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote::before {
    content: "\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;

}

cite {
    margin-top: 25px;
    font-size: 90%;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}




/* --------------------------------- */
/*  PLANS   */
/* --------------------------------- */
.section-plans {
    background-color: var(--background-color);
}

.plan-box {
    width: 90%;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 2px #dddddd;
            box-shadow: 0 2px 2px #dddddd;
}

.plan-box div {
    padding: 20px 15px;
    border-bottom: 1px solid #e7e7e7;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div ul {
    list-style: none;
}

.plan-box div ul li {
    padding: 5px 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 90%;
}




/* --------------------------------- */
/*  CONTACT FORM   */
/* --------------------------------- */
.contact-form {
    width: 60%;
    margin: 0 20%;
}

input[type=text],
input[type=email],
textarea, select {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 12px 10px 0;
}




/* --------------------------------- */
/*  CONTACT FORM   */
/* --------------------------------- */
footer {
    padding: 3%;
    font-size: 90%;
    background-color: #252525;
}

footer .row:first-child {
    border-bottom: 1px solid #474747;
}

.copyright {
    color: #a8a8a8;
    text-align: center;
    margin-top: 40px;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav {
    float: left;
    list-style: none;
}

.social-links li,
.footer-nav li {
    margin-right: 20px;
    display: inline-block;
}

.social-links li a:link,
.social-links li a:visited,
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a i {
    text-decoration: none;
    border: 0;
    color: #a8a8a8;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: 	#1877F2;
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: #1D9BF0;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
    color: #db4a39;
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: #d62976;
}



/* ----- HEADINGS ------ */
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 280%;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2::after {
    display: block;
    height: 2px;
    width: 10%;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--primary-color);
}

h3 {
    font-size: 110%;
    margin-bottom: 10px;
}


/* ----- PARAGRAPHS ----- */
.long-copy {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    line-height: 145%;
    margin-bottom: 20px;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}



/* --------------------------------- */
/*  HEADER   */
/* --------------------------------- */

header {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000a7), to(#000000a7)), url(/resources/css/images/hero.jpg);
    background-image: -o-linear-gradient(#000000a7, #000000a7), url(/resources/css/images/hero.jpg);
    background-image: linear-gradient(#000000a7, #000000a7), url(/resources/css/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    float: left;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    margin: 5px 0;
    float: left;
}


/* ------- MAIN NAVIGATION ------- */
.main-nav {
    float: right;
    margin-top: 55px;
    list-style: none;
}

.main-nav li {
    color: #fff;
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
    font-size: 90%;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid var(--primary-color);
}



/* -- Sticky Nav -- */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 19px 0;
    color: #555;
}

.sticky .main-nav { margin-top: 18px; }





/* ----- BUTTONS ------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    font-weight: 300;
    border: 1px solid var(--primary-color);
    margin-right: 20px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    color: #fff;
    background-color: var(--primary-color);
}

.btn-full:hover,
.btn-full:active {
    background-color: var(--secondary-color);
}

.btn-ghost:link,
.btn-ghost:visited {
    color: var(--primary-color);
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}


